.firstString {
	  top: -55px; /* Сдвигаем текст вверх */
    left: 5px; /* Сдвигаем текст вправо */
    color: #ffa500; /* Оранжевый цвет текста */
    font-size:25px;  /* Размер шрифта в пикселах */
}

.secondString {
	  top: 5px; /* Сдвигаем текст вниз */
    right: 25px; /* Сдвигаем текст вправо */
    color: #9999ff; /* Голубой цвет ссылки */
    font-size:20px;  /* Размер шрифта в пикселах */
}